section{
  padding-left:5em;
  padding-right:5em;
}
header{
  font-size: 2em;
}
#calendar {
  display: flex;
  flex-wrap: wrap;
}

.DayBox{
  border-collapse: collapse;
  border: 0.1em solid #e4e4e4;
  display: inline-block;
  flex-grow: 1;
  width: calc(100% * (1/8) - 1px);
  text-align: center;
}
#Navigation{
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
.date{
  float:right;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

