<section>
  <div id="Navigation">
    <button mat-raised-button color="primary" type="button" (click)="ChangeMonth(-1)"><</button>
    <header> {{ this.DateTitle }}</header>
    <button mat-raised-button color="primary" type="button" (click)="ChangeMonth(+1)">></button>
  </div>
  <div id="calendar">
    <div class="DayBox">Mo</div>
    <div class="DayBox">Di</div>
    <div class="DayBox">Mi</div>
    <div class="DayBox">Do</div>
    <div class="DayBox">Fr</div>
    <div class="DayBox">Sa</div>
    <div class="DayBox">So</div>
    <div class="DayBox" *ngFor="let ShiftDays of data.shiftDays"
         [ngClass]="{'GrayedBox': !ShiftDays.inMonth, 'NormalBox': ShiftDays.inMonth}">
      <div class="date">{{ShiftDays.day.slice(0, 2)}}</div>
      <app-shift-day [ShiftDays]="ShiftDays" (click)="clickOpenDetail(ShiftDays)"></app-shift-day>
    </div>
  </div>
</section>
