<section>
  <table id="calendar">
    <tbody>
    <tr>
      <td *ngFor="let numb of data.shiftDays | slice: 0:7">
        <div class="date">{{numb.day.slice(8,10)}}</div>
        <app-shift-day [shiftdays]="numb" (click)="clickOpenDetail(numb)"></app-shift-day></td>
    </tr>
    <tr>
      <td *ngFor="let numb of data.shiftDays | slice: 7:14">
        <div class="date">{{numb.day.slice(8,10)}}</div>
        <app-shift-day [shiftdays]="numb" (click)="clickOpenDetail(numb)"></app-shift-day></td>
    </tr>
    <tr>
      <td *ngFor="let numb of data.shiftDays | slice: 14:21">
        <div class="date">{{numb.day.slice(8,10)}}</div>
        <app-shift-day [shiftdays]="numb" (click)="clickOpenDetail(numb)"></app-shift-day></td>
    </tr>
    <tr>
      <td *ngFor="let numb of data.shiftDays | slice: 21:28">
        <div class="date">{{numb.day.slice(8,10)}}</div>
        <app-shift-day [shiftdays]="numb" (click)="clickOpenDetail(numb)"></app-shift-day></td>
    </tr>
    <tr>
      <td *ngFor="let numb of data.shiftDays | slice: 28:35">
        <div class="date">{{numb.day.slice(8,10)}}</div>
        <app-shift-day [shiftdays]="numb" (click)="clickOpenDetail(numb)"></app-shift-day></td>
    </tr>
    <tr>
      <td *ngFor="let numb of data.shiftDays | slice: 35:42">
        <div class="date">{{numb.day.slice(8,10)}}</div>
        <app-shift-day [shiftdays]="numb" (click)="clickOpenDetail(numb)"></app-shift-day></td>
    </tr>
    </tbody>
  </table>
  <ng-container *ngIf="showDetail">
    <div class="DetailedDay">
      <app-shift-day-detail [shiftdays]="selectedDay"></app-shift-day-detail>
    </div>
  </ng-container>
</section>
