#calendar {
  background: #CCC;
}

table {
  border:solid black;
  border-collapse: collapse;
  border-width:0.1em 0.1em 0 0;
}
table th, table td {
  border:solid black;
  border-width:0 0 0.1em 0.1em;
}

.date{
  float:right;
}
