form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.TextInput{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
}
.FormInput, .FormLabel{
  width: calc(100% * (1/2) - 2em);
}
.LeftSide{
  display: flex;
  flex-direction: column;
}

.RightSide{
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

button{
  margin:1em;
}
.ButtonNav{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
