form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

header {
  margin-top: 1.5em;
  font-size: x-large;
  border-bottom: 0.15em solid #3F51B5;
}

.TextInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.FormInput, .FormLabel {
  width: calc(100% * (1 / 2) - 2em);
}

.LeftSide {
  display: flex;
  flex-direction: column;
}

.RightSide {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 50%;
}

button {
  margin: 1em;
}

.ButtonNav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
