<form>
  <div class="LeftSide">
    <div class="TextInput">
      <mat-form-field appearance="outline">
        <mat-label>Titel</mat-label>
        <label>
          <input matInput type="text" [name]="template.title" placeholder="Titel" [(ngModel)]="template.title">
        </label>
      </mat-form-field>
    </div>
    <app-table [table]="template.days" [AllowSelection]="true"></app-table>
    <div>
      <p>
        <label>Gültigkeit</label>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Von</mat-label>
        <label>
          <input matInput placeholder="Von" [name]="template.fromDate" [(ngModel)]="template.fromDate">
        </label>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Bis</mat-label>
        <label>
          <input matInput placeholder="Bis" [name]="template.toDate" [(ngModel)]="template.toDate">
        </label>
      </mat-form-field>
    </div>
  </div>
  <div class="RightSide">
    <div class="TextInput">
      <mat-form-field appearance="outline">
        <mat-label>Takt</mat-label>
        <mat-select [(value)]="template.recurrenceOptions.selectedItem.title">
          <mat-option [value]="item.title"
                      *ngFor="let item of template.recurrenceOptions.dropDownOptions">{{item.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-table [table]="template.slots" (EditItemEvent)="editSlot($event)" (AddEvent)="newSlot()"></app-table>
    <div mat-dialog-actions class="ButtonNav">
      <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="template">Speichern</button>
      <button mat-raised-button color="primary" (click)="dialogRef.close()">Abbrechen</button>
    </div>
  </div>
</form>
