form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.textinput{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
}
.forminput, .formlabel{
  width: calc(100% * (1/2) - 2em);
}
.leftside{
  display: flex;
  flex-direction: column;
}

.rightside{
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

button{
  margin:1em;
}
.ButtonNav{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
