form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.textinput{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
}
.forminput, .formlabel{
  width: calc(100% * (1/2) - 2em);
}
.leftside{
  margin: 1em;
  width: calc(100% * (1/2) - 2em);
}

.rightside{
  width: calc(100% * (1/2) - 2em);
  margin:1em;
}
