<form>
  <div class="leftside textinput">
    <mat-form-field appearance="outline">
      <mat-label>Titel</mat-label>
      <input matInput placeholder="Titel" [value]="template.title">
    </mat-form-field>
  </div>
  <div class="rightside textinput">
    <mat-form-field appearance="outline">
      <mat-label>Takt</mat-label>
      <mat-select [(value)]="template.recurrenceOptions.selectedItem">
        <mat-option value="option"
                    *ngFor="let item of template.recurrenceOptions.dropDownOptions">{{ item.title }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-table [table]="template.days" class="leftside"></app-table>
  <app-table [table]="template.slots" class="rightside" (ItemSelectedEvent)="editSlot($event)" (AddEvent)="newSlot()"></app-table>
  <div class="leftside">
    <p>
      <label>Gültigkeit</label>
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Von</mat-label>
      <input matInput placeholder="Von" [value]="template.fromDate">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bis</mat-label>
      <input matInput placeholder="Bis" [value]="template.toDate">
    </mat-form-field>
  </div>
</form>
