section {
}

section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

label {
  margin-top: 0.1em;
  float: left;
}

.InputWrapper {
  margin: 0.5em;
  float: right;
}

.SlotContainer {
  width: 95%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.8em;
}

.Slot {
  margin: 0 0.5em 0.5em 0;
}

.Canceled {
  text-decoration: line-through;
}

.normal {
  text-decoration: none;
}
