<section>
  <div class="HeaderRow">
    <header>{{ table.title }}</header>
    <mat-icon *ngIf="table.showsAddButton"
              aria-hidden="false"
              aria-label="Hinzufügen"
              color="primary"
              (click)="AddNew()">add_circle
    </mat-icon>
  </div>
  <div class="SubRows" *ngFor="let item of table.items"
       [ngClass]="{'Highlight': item.selected, 'normal': !item.selected}"
       (click)="item.selected = !item.selected; ItemSelected(item)">
    <mat-label>{{ item.title }}</mat-label>
    <mat-icon *ngIf="table.showsAddButton"
              aria-hidden="false"
              aria-label="Editieren"
              color="primary"
              [ngStyle]="{color:item.selected? 'white' : '#3f51b5' }"
              (click)="ItemEdit(item)">build_circle
    </mat-icon>
  </div>
</section>
