section {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.HeaderRow {
  border-collapse: collapse;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 0.2em solid #3F51B5;
  margin-bottom: 1em;
  justify-content: space-between;
}

.SubRows {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: medium;
  padding-top: 0.6em;
  border-bottom: 0.1em solid #eeeeee;
  justify-content: space-between;
}

header {
  font-size: x-large;
}

.Highlight {
  background: #3F51B5;
  color: white;
}

mat-icon {
  cursor: pointer;
}
