section{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  padding: 0.5em;
}

.EmployeeTable{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.Employee{
  padding:0.5em;
}
button{
  height:3em;
  width: 10em;
  line-height: 1.2em;
}
app-table{
  width: 40%;
}
