section{
  border: 0.1em solid black;
}

#isActive{
  float:right;
  width: 2.5em;
}

section:after{
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

.header{
  margin: 0.5em;
  float:left;
}

.inputwrapper{
  text-align: right;
  margin: 0.5em;
}

.Roles{
  margin: 0.5em;
  float:left;
}

.settingscontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-end;
}

form{
  float: right;
  margin: 0.5em;
  bottom: 0;
}

.formlabel{
  width: 50%;
  float:left;
}

.forminput
{
  width:2.5em;
}
