section{
  display: flex;
  flex-direction: column;
  border:solid #e4e4e4;
  border-collapse: collapse;
  border-width:0.1em;
  padding:0.5em;
}

header{
  margin-bottom: 0.5em;
  width: 100%;
}

.employee{
  display: flex;
  align-content: space-around;
  flex-direction: row;
}

.Roles{
  width: calc(100% * (1/3));
}
.settings{
  width: calc(100% * (2/3));
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  padding-left: 2em;
}
