<section>
  <div class="settings">
    <header>{{ employee.nickName }}</header>
    <app-table [table]="employee.serviceRoles" (AddEvent)="newServiceRole()" [AllowSelection]="true" (EditItemEvent)="editServiceRole($event)"></app-table>
  </div>
  <form class="settings">
    <p>
      <mat-checkbox [name]="employee.active" [(ngModel)]="employee.active" color="primary">Deaktivieren</mat-checkbox>
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Stundensatz in {{ employee.currency }}</mat-label>
      <input matInput placeholder="Stundensatz" [name]="employee.hourlyRate" [(ngModel)]="employee.hourlyRate">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monatskontingent</mat-label>
      <input matInput placeholder="Monatskontingent" [name]="employee.monthlyContingent" [(ngModel)]="employee.monthlyContingent">
    </mat-form-field>
  </form>

</section>
