<section>
  <div class="employee">
    <header>{{ employee.nickName }}</header>
    <div class="Roles">
      <app-table [table]="employee.serviceRoles" (AddEvent)="newServiceRole()" (ItemSelectedEvent)="editServiceRole($event)"></app-table>
    </div>
  </div>
  <div class="settings">
    <div> </div>
    <label class="formlabel">Deaktivieren</label>
    <input class="forminput" type="checkbox" id="isActive" name="isActive" value="{{employee.active}}" [checked]="employee.active">
      <label class="formlabel" for="hourlyRate">Stundensatz</label>
      <input class="forminput" type="text" id="hourlyRate" name="hourlyRate" value="{{employee.hourlyRate}}"> {{employee.currency}}
      <label class="formlabel" for="monthlyContingent">Monatskontingent</label>
      <input class="forminput" type="text" id="monthlyContingent" name="hourlyRate" value="{{employee.monthlyContigent}}">
  </div>
</section>
