section{
  display: flex;
  flex-direction: row;
  border:solid #e4e4e4;
  border-collapse: collapse;
  border-width:0.1em;
  padding:0.5em;
}

header{
  margin-bottom: 0.5em;
  width: 100%;
}

.settings{
  display: flex;
  flex-direction: column;
}

form{
  margin-left:2em;
}
