section{
  display: flex;
  align-content: space-around;
  border:solid black;
  border-collapse: collapse;
  border-width:0.1em;
  padding:0.5em;
}

header{
  margin-bottom: 0.5em;
}
.employee{
  width: calc(100% * (1/3));
}
.settings{
  width: calc(100% * (2/3));
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  padding-left: 2em;
}
.formlabel{
  width: calc(100% * (2/3) - 1em);
}

.forminput{
  width: calc(100% * (1/3) - 1em);
}
