<section>
  <header>{{ employee.nickName }}</header>
  <div class="employee">
    <div class="Roles">
      <app-table [table]="employee.serviceRoles" (AddEvent)="newServiceRole()" [AllowSelection]="true" (EditItemEvent)="editServiceRole($event)"></app-table>
    </div>
    <div class="settings">
      <mat-checkbox [(ngModel)]="employee.active" color="primary">Deaktivieren</mat-checkbox>
      <mat-form-field appearance="outline">
        <mat-label>Stundensatz in {{ employee.currency }}</mat-label>
        <input matInput placeholder="Stundensatz" [(ngModel)]="employee.hourlyRate">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Monatskontingent</mat-label>
        <input matInput placeholder="Monatskontingent" [(ngModel)]="employee.monthlyContigent">
      </mat-form-field>
    </div>
  </div>

</section>
