<section>
  <div class="settings">
    <header>{{ employee.nickName }}</header>
    <app-table [table]="employee.serviceRoles" (AddEvent)="newServiceRole()" [AllowSelection]="true" (EditItemEvent)="editServiceRole($event)"></app-table>
  </div>
  <form class="settings">
    <p>
      <mat-checkbox name="isActive" [(ngModel)]="employee.active" color="primary">Deaktivieren</mat-checkbox>
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Stundensatz in {{ employee.currency }}</mat-label>
      <label>
        <input matInput placeholder="Stundensatz" name="Stundensatz" [(ngModel)]="employee.hourlyRate">
      </label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monatskontingent</mat-label>
      <label>
        <input matInput placeholder="Monatskontingent" name="Monatskontingent" [(ngModel)]="employee.monthlyContingent">
      </label>
    </mat-form-field>
  </form>

</section>
