section{
  display: flex;
  flex-direction: column;
  border:solid black;
  border-collapse: collapse;
  border-width:0.1em;
}

.headerrow{
  border-bottom:solid black;
  border-collapse: collapse;
  border-width:0.1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.subrows{
  cursor: pointer;
}
header{
  font-size: 1.25em;
}

.Hightlight{
  background: #3F51B5;
  color: white;
}
mat-icon{
  cursor: pointer;
}
